.chat {
  display: flex;
  width: 100%;
}
.rightBubble {
  background: #2b2c33;
  margin: 10px;
  padding: 10px;
  display: flex;
  margin-left: auto;
  border-radius: 2rem 2rem 0rem 2rem;
  max-width: 65%;
  object-fit: contain;
}
.leftBubble {
  background: linear-gradient(90deg, #1986d8, #7b9cc2);
  margin: 10px;
  padding: 10px;
  display: flex;
  margin-right: auto;
  border-radius: 0rem 2rem 2rem 2rem;
  max-width: 65%;
  object-fit: contain;
}
